.marqueeContainer {
    background: #000;
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.marqueeImage {
    height: 30px;
    margin: 0 20px;
}

.marqueeText {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    margin: 0 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}

.marqueeText:hover {
    color: #f7e6dc;
    transform: scale(1.05);
    text-shadow: 0 0 10px rgba(246, 193, 89, 0.928);
}

@media (max-width: 768px) {
    .marqueeContainer{
        padding: 30px 0;
    }
    .marqueeImage {
        height: 20px;
        margin: 0 15px;
    }
    .marqueeText{
        font-size: 2rem;
    }

}