.latestProjects {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #ff8c42, #ffd1a3);
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 6rem;
    position: relative;
    overflow-y: visible;
}

.marqueeContainer {
    width: 100%;
    overflow-y: visible;
    padding: 2rem 0;
}

.latestProjects .badge {
    position: absolute;
    top: 0;
    left: 11rem;
    width: 170px;
    z-index: 2;
}

.latestProjects .lpImg {
    height: 450px;
    width: auto;
    margin-right: .5rem;
    transition: transform 0.3s ease;
    border-radius: 12px;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
}


@media (max-width: 768px) {
    .latestProjects {
        padding-top: 5rem;
    }

    .latestProjects .lpImg {
        height: 350px;
        width: auto;
        margin-right: .5rem;
    }

    .latestProjects .badge {
        width: 90px;
        left: 30px;
        top: 50px;
    }
}